<% include ../partials/header%>
    <div>
        <a href="/">Trở lại</a>
    </div>
    <div>
        
        <form method="POST">
            Bạn muốn xóa todolist: <strong></strong> ?
            <button type="submit" class="btn btn-primary">Xóa</button>
        </form>
    </div>

<% include ../partials/footer%>