<% include ../partials/header %>
    <div>
        <a href="/">Quay lại</a>
    </div>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <% include ../partials/toppage %>

            <div class="container">
                <!-- Example row of columns -->
                <h3 class="diary-title">Chỉnh sửa công việc</h3>
                <form method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tiêu đề công việc</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="<%- data.title %>">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Nội dung công việc</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"><%- data.content %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ngày hết hạn</label>
                        <input type="text" class="form-control datepicker" id="sandbox-container" data-provide="datepicker" name="deadline_date" value="<%- data.deadline_date.toISOString().split('T')[0] %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                    <hr>
                </form>
            </div>
            <!-- /container -->

    </main>
    <% include ../partials/footer %>
        <script>
            $(function() {
                $("#sandbox-container").datepicker({
                    dateFormat: "yy-mm-dd"
                }).val()
            });
        </script>