<h1>Trang login cua he thong</h1>
<form action="/users/login" method="POST">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
</form>