<h1>Signup</h1>
<form action="/users/signup" method="post">
    <input type="text" placeholder="Nhap email vao day" name="email">
    <input type="password" placeholder="Nhap password vao day" name="password">
    <button type="submit">Submit</button>
</form>